body{
    background-color: #89CFF0;
}

#tokenSection{
    display: none;
}

#deviceSection{
    display: none;
}

.container{
    padding: 30px;    
    background-color: #F4C2C2;
}

#albumImage{
    width: 300px;
    float: inline-start;
    margin: 30px;
}

#trackTitle{
    font-size:3em;
}

#trackArtist{
    font-size:2em;
}

.welcomeText{
    font-size:2em;
}